https://mirror.sjtu.edu.cn/pytorch-wheels/rocm6.0/torch-2.3.1%2Brocm6.0-cp312-cp312-linux_x86_64.whl
https://mirror.sjtu.edu.cn/pytorch-wheels/rocm6.0/torchvision-0.18.1%2Brocm6.0-cp312-cp312-linux_x86_64.whl
genesis-world